POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=luna_db
POSTGRES_HOST=database

API_KEY=key
OUTBOX_SEND_LIMIT=100

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin
RABBITMQ_HOST=rabbitmq